@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
.logo {
    width: 90px;
    height: 75px;
}
.logo-text{
    font-family: "Satisfy", cursive;
    font-size: 45px;
    font-weight: 200;
    color: #ff827b;
}
.header{
    margin-left: 200px !important;
    margin-right: 150px !important;
    margin-bottom: 12px;
}
.nav {
    font-size: 28px;
    color: #61aee6;
    border: none !important;
}
.nav-tabs {
    padding-left: 160px;
    text-align: center;
}
.nav-tabs li{
    padding-top: 8px;
    padding-right: 110px;
}
.nav-tabs > li > a:hover{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}
.nav-tabs > li.active > a{
    border: none !important;
}
.nav-tabs > li.active > a:hover{
    border: none !important;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}
.content{
    margin-top: 40px !important;
}
.jumbotron, .container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: transparent;
}
.jumbotron{
        padding-top: 0px !important;
        padding-bottom: 0px;
}
.hero-img {
    width: 100%;
    height: 60vh;
    background: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-text {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 40px !important;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding-top: 3.5%;
}
.upper-text{
    text-align: center;
}
.featured-text-title {
    text-transform: uppercase;
}
.featured-text {
    text-align: justify;
}
.thumbnail {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 12px;
}
.thumbnail.caption{
    padding: 0px;
}
.services-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.adopt-text-head{
    text-align: center;
    text-transform: uppercase;
    color: blue;
    line-height: 2em;
}
.adopt-text{
    text-align: center;
}
.doc-title{
    font-size: 30px;
    font-weight: bold;
}
.doc-text{
    font-size: 20px;
}
.tbl-head{
    font-size: 21px;
    font-weight: bolder;
    border-bottom: 2px solid #000000;
    padding-top: 25px;
    padding-bottom: 15px;
}
th{
    padding-right: 120px !important;
    line-height: 2em;
}
 tr{
    border-bottom: 2px solid #aeaeae;
}
 td{
    font-size: 19px;
    border-bottom: 1px solid #aeaeae;
    line-height: 2.5em;
}
.footer{
    background-color: #321000;
    min-height: 150px;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer-logo{
    width: 110px;
}
.footer-cols{
    border-right: 1px solid #333;
}
.footer-cols address{
    padding-left: 20px;
}
.col-md-3 address.hover, .col-md-3 address.a{
    color:#ff827b
}
.inner-footer{
    padding-top: 25px;
}
.footer-bottom-text {
    text-align: center;
    background-color: transparent;
    color:#4E4E4E;
}
.i {
    padding-right: 2px;
}
